.Addparticipant{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.AddparticipantForm{

    line-height: 4rem;
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 4rem;
    box-shadow: 0 0 1rem  rgba(0, 0, 0, 0.1);
}
.AddparticipantForm h1{
    font-weight: bold;
    color: #ef4339;
    margin-bottom: 1rem;
}
.AofE,.Email{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.AofE-label,.Email-label{
    display: inline-block;
    width:11rem;
    color: #383b42 ;
    font-weight: bold;
    font-size: 1.2rem;
}
.AofE-input,.Email-input{

    padding-bottom: 0.8rem;
    outline: none;  
    border: none;
    width: 22vw;
    border-bottom: 1px solid #C2C7D0;
}
.AofE-input:hover{
    border-bottom-color:skyblue ;
}
.AofE-input::placeholder{
    letter-spacing: 1.4px;
}
.Email-input:hover{
    border-bottom-color:skyblue ;
}
.Email-input::placeholder{
    letter-spacing: 1.4px;
}
.Addparticipantbutton{
    cursor: pointer;
    align-self:center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-top: 2rem;
    background-color:#ef4339; 
    box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
    color:rgb(232, 239, 233);
    border: none;
    text-align:center;
    font-weight:1rem;
    font-size:0.8rem;
    width: 9rem;
    border-radius: 2rem;
    padding: 0.9rem;
}
.AofE-input::-webkit-inner-spin-button,
.AofE-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Email-input::-webkit-inner-spin-button,
.Email-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}